<!-- About Section -->
<section id="about">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <h3 class="section-subheading text-muted">Short hostory about how the idea came about till today...</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">

                <li>
                  <div class="timeline-image">
                    <%= image_tag "about/1.png", class: "img-circle img-responsive", alt: "About", title: "About" %>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>September 2014</h4>
                      <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">September UTS attends IAC conference where connections were made with Canadian Space Society</p>
                    </div>
                  </div>
                </li>

                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <%= image_tag "about/2.png", class: "img-circle img-responsive", alt: "About", title: "About" %>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                       <h4>October 2014</h4>
                        <h4 class="subheading">Research</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">further research on site continues and contact with SSEP program directors</p>
                      </div>
                  </div>
                </li>

                <li>
                  <div class="timeline-image">
                    <%= image_tag "about/3.png", class: "img-circle img-responsive", alt: "About", title: "About" %>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>November 2014</h4>
                        <h4 class="subheading">Realization</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">November Realization that short timeline and funding may hinder UTS participation</p>
                      </div>
                  </div>
                </li>

                <li class="timeline-inverted">
                  <div class="timeline-image">
                      <%= image_tag "about/4.png", class: "img-circle img-responsive", alt: "About", title: "About" %>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>December 2014</h4>
                      <h4 class="subheading">Decision</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">UTS decides the program is invaluable to students and the entire education community in Canada and works on proposal and methods for raising funds. proposal to SSEP for UTS ideas of mentorship and community are approved by SSEP</p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="timeline-image">
                      <%= image_tag "about/5.jpg", class: "img-circle img-responsive", alt: "About", title: "About" %>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>January 2015</h4>
                      <h4 class="subheading">Crowdfunding</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">January Crowdfunding and organization of mentors begins</p>
                    </div>
                  </div>
                </li>

                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <h4>Be Part
                      <br>Of Our
                      <br>Story!
                    </h4>
                  </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>