<!-- history section -->
<section id="history">
  <div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">History</h2>
            <h3 class="section-subheading text-muted">Short history about how the idea came about until today...</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <ul class="timeline">
                <!-- left side -->
                <li>
                  <div class="timeline-image">
                    <%= image_tag "about/1.png", class: "img-circle img-responsive", alt: "Our Humble Beginnings", title: "Our Humble Beginnings" %>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>September 2014</h4>
                      <h4 class="subheading">Our Humble Beginnings</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">UTS attends IAC conference where connections were made with Canadian Space Society</p>
                    </div>
                  </div>
                </li>
                <!-- right side -->
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <%= image_tag "about/2.png", class: "img-circle img-responsive", alt: "Research", title: "Research" %>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                       <h4>October 2014</h4>
                        <h4 class="subheading">Research</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">Research on site continues and contact with SSEP program directors</p>
                      </div>
                  </div>
                </li>
                <!-- left side -->
                <li>
                  <div class="timeline-image">
                    <%= image_tag "about/3.png", class: "img-circle img-responsive", alt: "Realization", title: "Realization" %>
                  </div>
                  <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4>November 2014</h4>
                        <h4 class="subheading">Realization</h4>
                      </div>
                      <div class="timeline-body">
                        <p class="text-muted">Realization that short timeline and funding may hinder UTS participation</p>
                      </div>
                  </div>
                </li>
                <!-- right side -->
                <li class="timeline-inverted">
                  <div class="timeline-image">
                      <%= image_tag "about/4.png", class: "img-circle img-responsive", alt: "Decision", title: "Decision" %>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>December 2014</h4>
                      <h4 class="subheading">Decision</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">UTS decides the program is invaluable to students and the entire education community in Canada and works on proposal and methods for raising funds. proposal to SSEP for UTS ideas of mentorship and community are approved by SSEP</p>
                    </div>
                  </div>
                </li>
                <!-- left side -->
                <li>
                  <div class="timeline-image">
                      <%= image_tag "about/5.jpg", class: "img-circle img-responsive", alt: "Crowdfunding", title: "Crowdfunding" %>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>January 2015</h4>
                      <h4 class="subheading">Crowdfunding</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Crowdfunding and organization of mentors begins</p>
                    </div>
                  </div>
                </li>
                <!-- right side -->
                <li class="timeline-inverted">
                  <div class="timeline-image">
                      <%= image_tag "about/6.png", class: "img-circle img-responsive", alt: "Crowdfunding launch", title: "Crowdfunding launch" %>
                  </div>
                  <div class="timeline-panel">
                    <div class="timeline-heading">
                      <h4>Febrauary 2015</h4>
                      <h4 class="subheading">Crowdfunding launch</h4>
                    </div>
                    <div class="timeline-body">
                      <p class="text-muted">Begin crowdfunding to raise money for required fund to participate in the program. UTS community work together to make this happen.</p>
                    </div>
                  </div>
                </li>
                <!-- left side -->
                <li class="timeline-inverted">
                  <div class="timeline-image">
                    <%= link_to "https://www.kickstarter.com/projects/1817096536/help-uts-students-get-into-space", alt: "UTS kickstarter Project", title: "UTS kickstarter Project" do %>
                      <h4>Be Part
                        <br>Of Our
                        <br>Story!
                      </h4>
                    <% end %>
                  </div>
                </li>
            </ul>
        </div>
    </div>
  </div>
</section>