<!-- News Section -->
<section id="news">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
          <div class="row mt">
            <div class="col-sm-8">
              <h2>News and update</h2>
              <hr>

              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to aerospace2016_path do %>
                    <%= image_tag "projects/SpaceAero.gif", class: "media-object", alt: "Microgravity Experiment Succeeded", title: "Microgravity Experiment Succeeded", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on March 20, 2016</p>
                  <%= link_to aerospace2016_path do %>
                    <h4 class="media-heading">the Aerospace Showcase 2016 event</h4>
                  <% end %>
                  <p>The Aerospace Showcase –  was the official unveiling event and awards ceremony featuring UTAT’s latest fleet of aircraft and spacecraft. </p>
                </div>
              </div>
              <hr/>

              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to experiment_path do %>
                    <%= image_tag "projects/microgravity_experiment.jpg", class: "media-object", alt: "Microgravity Experiment Succeeded", title: "Microgravity Experiment Succeeded", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on January 25, 2016</p>
                  <%= link_to experiment_path do %>
                    <h4 class="media-heading">Microgravity Experiment Succeeded</h4>
                  <% end %>
                  <p>Ontario High School Students have successfully completed competition for Microgravity Experiment –  expected launch date April 2016</p>
                </div>
              </div>
              <hr/>


              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to projects_path do %>
                    <%= image_tag "projects/a-message.png", class: "media-object", alt: "A message", title: "A message", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on May 9, 2015</p>
                  <%= link_to projects_path do %>
                    <h4 class="media-heading">A Message</h4>
                  <% end %>
                  <p>All groups worked extremely hard using the Google platform to work collaboratively.</p>
                </div>
              </div>
              <hr/>

              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to final_path do %>
                    <%= image_tag "projects/final_teams.jpg", class: "media-object", alt: "Finale Projects", title: "Finale Projects!", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on May 5, 2015</p>
                  <%= link_to final_path do %>
                    <h4 class="media-heading">Final Projects</h4>
                  <% end %>
                  <p>Congratulations to everyone the Four Final four teams whom involved in this project on doing truly impressive work!!!</p>
                </div>
              </div>
              <hr/>

              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to semi_final_path do %>
                    <%= image_tag "projects/space-crafts.png", class: "media-object", alt: "Semi Finale Projects", title: "Semi Finale Projects", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on April 30, 2015</p>
                  <%= link_to semi_final_path do %>
                    <h4 class="media-heading">Semi Final Projects</h4>
                  <% end %>
                  <p>Further Congratulations are truly deserved by the extraordinary efforts put forward by the 9 experiments being put forward</p>
                </div>
              </div>
              <hr/>

              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to honorable_path do %>
                    <%= image_tag "projects/honorable.png", class: "media-object", alt: "Honorable Teams", title: "Honorable Teams", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on April 28, 2015</p>
                  <%= link_to honorable_path do %>
                    <h4 class="media-heading">Honorable Teams</h4>
                  <% end %>
                  <p>The SSEP deadline was on Apr. 24th, and the review of the experiments is now complete...</p>
                </div>
              </div>
              <hr/>

<!--               <div class="media margin-bottom-30">
                <div class="media-left">
                  <%#= link_to osc_path do %>
                    <%#= image_tag "projects/space-crafts.png", class: "media-object", alt: "Day at the OSC!", title: "Day at the OSC", data: {holder_rendered: "true"}, width: '150'%>
                  <%# end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on May 3, 2015</p>
                  <%#= link_to osc_path do %>
                    <h4 class="media-heading">Day at the Ontario Science Center</h4>
                  <%# end %>
                  <p>A message from the students as they currently work on their ongoing projects.
                  <br>
                    On April 25th, they will present at the Ontario Science Center
                  </p>
                </div>
              </div>
              <hr/> -->

              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to judges_path do %>
                    <%= image_tag "projects/judges.jpg", class: "media-object", alt: "Projects Judges", title: "Projects Judges", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on April 27, 2015</p>
                  <%= link_to judges_path do %>
                    <h4 class="media-heading">Projects Judges</h4>
                  <% end %>
                  <p>We are indebted to the following outside and local talent for helping to be part of our decision board on Monday.</p>
                </div>
              </div>
              <hr/>

              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to thankyou_path do %>
                    <%= image_tag "supporters/thank_you_small.png", class: "media-object", alt: "Thank You!", title: "Thank You!", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on March 1, 2015</p>
                  <%= link_to thankyou_path do %>
                    <h4 class="media-heading">A THANK YOU FOR YOUR SUPPORT IN GETTING UTS ON ISS!</h4>
                  <% end %>
                  <p>A message from the students as they currently work on their ongoing projects.
                  <br>
                    On April 25th, they will present at the Ontario Science Centre
                  </p>
                </div>
              </div>
              <hr/>
              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to thankyou_path do %>
                    <%= image_tag "team/suzanne_monir.jpg", class: "media-object", alt: "Suzanne Monir SSEP Organizer", title: "Suzanne Monir SSEP Organizer", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                  <p class="posts-meta"><span>Suzanne Monir</span> wrote on Febraury 20, 2015</p>
                  <%= link_to the_idea_path do %>
                    <h4 class="media-heading">How we started our SSEP program at UTS</h4>
                  <% end %>
                  <p>Opportunities in education are out there, and sometimes they are just outrageously amazing. While attending the International Astronautical conference in this school year September 2014 (Where our school met Billy Nye and Col. Hadfield), we met some other people involved in education initiatives.</p>
                </div>
              </div>
              <hr/>
              <div class="media margin-bottom-30">
                <div class="media-left">
                  <%= link_to "http://www.css.ca/" do %>
                    <%= image_tag "supporters/canadian_space_society.png", class: "media-object", alt: "Canadian Space Society", title: "Canadian Space Society", data: {holder_rendered: "true"}, width: '150'%>
                  <% end %>
                </div>
                <div class="media-body">
                <%= link_to "http://www.css.ca/" do %>
                  <h4 class="media-heading">Canadian Space Society featured us on their website</h4>
                  <% end %>
                  <p>An article about UTS acceptance into the SSEP program is published on the front page of the Canadian Space Society web site!  The Canadian Space Society supports and promotes STEM initiatives that promotes design and research skills.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <h2>Tweets by @utsoniss</h2>
              <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/UTSonISS" data-widget-id="567086739479482368">Tweets by @UTSonISS</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              <hr>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>