<!-- sponsors -->
<section id="sponsors">
  <div class="container">
    <div class="row mt centered">
      <div class="col-lg-4 col-lg-offset-4">
        <h3>Sponsors &amp; Supporters</h3>
        <hr>
      </div><!-- /col-lg-4 -->
    </div><!-- /row -->
    <div class="row">
      <div class="centered col-sm-12 col-xs-12">
        <div class="col-xs-5 col-sm-2">
          <%= link_to "http://www.css.ca/" do %>
            <%= image_tag "supporters/canadian_space_society.png", class: "img-responsive", alt: "Canadian Space Society", title: "Canadian Space Society" %>
            <div class="caption">
              <h4>Canadian Space Society</h4>
            </div>
          <% end %>
        </div>
        <div class="col-xs-5 col-sm-2">
          <%= link_to "http://www.galaxytoppers.com/" do %>
            <%= image_tag "supporters/galaxy_toppers.png", class: "img-responsive", alt: "Galaxy Toppers", title: "Galaxy Toppers" %>
            <div class="caption">
              <h4>Galaxy Toppers</h4>
            </div>
          <% end %>
        </div>

        <div class="col-xs-5 col-sm-2">
          <%= link_to "http://www.tdbank.com/" do %>
            <%= image_tag "supporters/tdbank.jpg", class: "img-responsive", alt: "TDbank", title: "TDbank" %>
            <div class="caption">
              <h4>TDbank</h4>
            </div>
          <% end %>
        </div>

        <div class="col-xs-5 col-sm-2">
          <%= link_to "http://www.telus.com" do %>
            <%= image_tag "supporters/Telus_logo.svg", class: "img-responsive", alt: "TELUS", title: "TELUS" %>
            <div class="caption">
              <h4>TELUS</h4>
            </div>
          <% end %>
        </div>

        <div class="col-xs-5 col-sm-2">
          <%= link_to "http://www.kanetix.ca" do %>
            <%= image_tag "supporters/kanetix.png", class: "img-responsive", alt: "Kanetix", title: "Kanetix" %>
            <div class="caption">
              <h4>Kanetix</h4>
            </div>
          <% end %>
        </div>

        <div class="col-xs-5 col-sm-2">
          <div class="caption">
            <h4>UTSPA (UTS Parents Association)</h4>
          </div>
        </div>

        <div class="col-xs-5 col-sm-2">
          <div class="caption">
            <h4>Michaele Robertson &amp; Barry Wansbrough</h4>
          </div>
        </div>

        <div class="col-xs-5 col-sm-2">
          <div class="caption">
            <h4>VandenHoven Raymond family</h4>
          </div>
        </div>

        <div class="col-xs-5 col-sm-2">
          <div class="caption">
            <h4>John and Angela Vavitsas family</h4>
          </div>
        </div>
      </div><!-- /col-sm-12 -->
    </div><!-- /row -->
  </div><!-- /container -->
</section>