<!-- Team Section -->
<section id="team" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">UTS on ISS team</h2>
        <h3 class="section-subheading text-muted">One Team. One Mission</h3>
      </div>
    </div>
    <div class="row">

      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag "team/suzanne_monir.jpg", class: "img-responsive img-circle", alt: "Suzanne Monir", title: "Suzanne Monir" %>
          <h4>Suzanne Monir</h4>
          <p class="text-muted">Science Teacher &amp; SSEP Project Manager</p>
          <ul class="list-inline social-buttons">
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag "team/shawn_brooks.jpeg", class: "img-responsive img-circle", alt: "Shawn Brooks", title: "Shawn Brooks" %>
          <h4>Shawn Brooks</h4>
          <p class="text-muted">Physics Teacher</p>
          <ul class="list-inline social-buttons">
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag "team/kimberly_tran.png", class: "img-responsive img-circle", alt: "Kimberly Tran", title: "Kimberly Tran" %>
          <h4>Kimberly Tran</h4>
          <p class="text-muted">Education Coordinator</p>
          <ul class="list-inline social-buttons">
          </ul>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag "team/siska_notowibowo.png", class: "img-responsive img-circle", alt: "Fransiska  Notowibowo", title: "Fransiska  Notowibowo" %>
          <h4>Fransiska  Notowibowo</h4>
          <p class="text-muted">Education Coordinator</p>
          <ul class="list-inline social-buttons">
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag "team/elizabeth_strazynski.png", class: "img-responsive img-circle", alt: "Elizabeth Strazynski", title: "Elizabeth Strazynski"%>
          <h4>Elizabeth Strazynski</h4>
          <p class="text-muted">Biology Teacher</p>
          <ul class="list-inline social-buttons">
          </ul>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag "team/akayla_campbell.png", class: "img-responsive img-circle", alt: "Akayla Campbell", title: "Akayla Campbell" %>
          <h4>Akayla Campbell</h4>
          <p class="text-muted">PR Coordinator</p>
          <ul class="list-inline social-buttons">
          </ul>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="team-member">
          <%= image_tag "team/jennifer_howell.jpeg", class: "img-responsive img-circle", alt: "Jennifer Howell", title: "Jennifer Howell" %>
          <h4>Jennifer Howell</h4>
          <p class="text-muted">Teacher</p>
          <ul class="list-inline social-buttons">
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

