<% provide(:title, "Final team") %>
<!-- <p id="notice"><%#= notice %></p> -->
<!-- idea Section -->
<style type="text/css" media="screen">
#h {
  background: url('/assets/projects/mountains-nature-outer-space-night-stars.jpg') no-repeat center bottom;
  padding-top: 150px;
  text-align:center;
  background-attachment: relative;
  background-position: center center;
  min-height: 700px;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>

<div id="h">
  <div class="container">
    <div class="row">
      <h1 class="centered">Final projects</h1>
    </div>
  </div><!--/container -->
</div>



<section id="idea">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-xs-12">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <h2 class="centered">Final 4 Projects</h2>
            <hr>
          </div>
        </div>
        <p>Congratulations to everyone involved in this project on doing truly impressive work!!</p>

        <div class="row">
          <div class="col-sm-6">
            <div class="thumbnail">
              <!-- <img src="projects/project4.jpg" alt="..."> -->
              <%= image_tag "projects/algae_team.jpg", alt: "Algae Team" %>
              <div class="caption">
                <h3>Algae Team</h3>
                <h6>Taaha H, Alykhan J, Nicholas L, Miguel R</h6>
                <p>Water and Air Purification in Microgravity by Algae</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="thumbnail">
              <%= image_tag "projects/bacteria_team.jpg", alt: "Bacteria Team" %>
              <div class="caption">
                <h3>Bacteria Team</h3>
                <h6>Jack D, Grant L, Esther Y, Wilson H, Kay W, Jeff Z</h6>
                <p>Water purification and bioremediation effects by Pseudomonas aeruginosa biofilms on wastewater under conditions of gravity and microgravity</p>
              </div>
            </div>
          </div>


          <div class="col-sm-6">
            <div class="thumbnail">
              <%= image_tag "projects/plenaria_team.jpg", alt: "Plenaria Worm Team" %>
              <div class="caption">
                <h3>Plenaria team</h3>
                <h6>Arjun A, Rahim D, Matthew E, Maddie E; Alisia L</h6>
                <p>How will microgravity​ affect the functions and development of stem cells in the S. Mediterranea ​flatworm?</p>
              </div>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="thumbnail">
              <%= image_tag "projects/nematode_team.jpg", alt: "Nematode Worm Team" %>
              <div class="caption">
                <h3>Nematode Team</h3>
                <h6>Annabel G, Alice V, Bridget P, Amy F, Catherine V, Michael L</h6>
                <p>Levels of Sphingomyelinase (ASM-2) in Caenorhabditis Elegans in Microgravity</p>
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <%= render 'application/spread' %>
      </div>
    </div>
  </div>
</section>
