<!-- social -->
<div class="row">
    <div class="span12 social">
<!--         <a href="https://www.facebook.com/UTSonISS" class="facebook" rel="tooltip" data-placement="top" data-original-title="Facebook community for UTS on ISS" target="_blank"></a>
        <a href="https://twitter.com/utsoniss" class="twitter" rel="tooltip" data-placement="top" data-original-title="Twitter news for UTS on ISS" target="_blank"></a>
        <a href="" class="dribbble" rel="tooltip" data-placement="top" data-original-title="Dribbble"></a>
        <a href="https://plus.google.com/100767707806324090350" class="googleplus" rel="tooltip" data-placement="top" data-original-title="Google community for UTS on ISS" target="_blank"></a>
        <a href="http://utsoniss.tumblr.com/" class="tumblr" rel="tooltip" data-placement="top" data-original-title="tumblr community for UTS on ISS" target="_blank"></a>
 -->


        <%= link_to "https://twitter.com/utsoniss", rel:"tooltip", data: {placement: "top", original_title: "Twitter news for UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>

        <%= link_to "https://plus.google.com/100767707806324090350", rel:"tooltip", data: {placement: "top", original_title: "Google community for UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>

        <%= link_to "https://www.facebook.com/UTSonISS", rel:"tooltip", data: {placement: "top", original_title: "Facebook community for UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>

        <%= link_to "http://utsoniss.tumblr.com/", rel:"tooltip", data: {placement: "top", original_title: "tumblr community for UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>


        <!-- <a href="" class="pinterest" rel="tooltip" data-placement="top" data-original-title="Pinterest"></a> -->
        <!-- <a href="" class="flickr" rel="tooltip" data-placement="top" data-original-title="Flickr"></a> -->
        <!-- made in toronto -->
        <h5>
          Made with <i class="fa fa-heart"></i> in Toronto <br>
          By <%= link_to "Ahmed Nadar", "http://ahmednadar.github.io/", target: "_blank", class: 'made-by'%> <br>
          &#169;2015 <i class="fa fa-space-shuttle fa-rotate-270"></i>UTS on ISS
        </h5>
    </div>
</div>


<%#= link_to content_tag(:li, '', class: 'fa fa-pencil'), edit_admin_category_path(category), :class => 'btn btn-default btn-icon btn-xs tip', :data => {:original-title=>"Edit"} %>
