<!-- social -->
<div class="row">
    <div class="span12 social">
        <%= link_to "mailto:utsoniss@gmail.com?subject=Hello!&amp;body=Dear%20UTS%20on%20ISS%20team%2C%0A", rel:"tooltip", data: {placement: "top", original_title: "Email UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>

        <%= link_to "https://twitter.com/utsoniss", rel:"tooltip", data: {placement: "top", original_title: "Twitter news for UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>

        <%= link_to "https://plus.google.com/100767707806324090350", rel:"tooltip", data: {placement: "top", original_title: "Google community for UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>

        <%= link_to "https://www.facebook.com/UTSonISS", rel:"tooltip", data: {placement: "top", original_title: "Facebook community for UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>

        <%= link_to "http://utsoniss.tumblr.com/", rel:"tooltip", data: {placement: "top", original_title: "tumblr community for UTS on ISS"}, target: "_blank" do %>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
          </span>
        <% end %>

        <h5>
          Made with <i class="fa fa-heart"></i> in Toronto <br>
          By <%= link_to "Ahmed Nadar", "http://ahmednadar.github.io/", target: "_blank", class: 'made-by'%> <br>
          &#169;2015 <i class="fa fa-space-shuttle fa-rotate-270"></i>UTS on ISS
        </h5>
    </div>
</div>
